:root {
  --app-hue: 270;
  --app-saturation: 0%;
  --app-luminosity: 25%;
}

html,
body {
  margin: 0;
  padding: 0;
}

html > * {
  transition: all 0.5s ease;
}

body {
  background: hsla(
    var(--app-hue),
    var(--app-saturation),
    var(--app-luminosity),
    1
  );
  color: hsla(var(--app-hue), var(--app-saturation), 90%, 1);
  font-family: Arial, Helvetica, sans-serif;
}

a,
a:visited,
a:active {
  color: hsla(var(--app-hue), var(--app-saturation), 90%, 1);
}
